html {
    width: 100%;
    height: 100%;
    background: linear-gradient(325deg, black 0%, rgb(0, 90, 207) 30%, rgb(170, 252, 132) 70%, white 100%);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    overflow: hidden;
}

.game {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.controls {
    display: flex;
    gap: 20px;
    margin-bottom: 28px;
}

button {
    background: rgb(58, 56, 56);
    color: aliceblue;
    border-radius: 5px;
    padding: 10px 28px;
    border: 0;
    cursor: pointer;
    font-size: 18pt;
    font-weight: bold;
}

.disabled{
    color: grey;
}

.stats{
    color: rgb(255, 255, 255);
    font-size: 14pt;
    font-weight: bold;
}

.board-container{
    position: relative;
}

.board, .win{
    border-radius: 5px;
    box-shadow: 0 25px 50px rgb(33 33 33 / 25%);
    background: linear-gradient(125deg, black 0%, rgb(0, 90, 207) 0%, rgb(170, 252, 132) 50%, white 100%);
    transition: transform .5s cubic-bezier(0.4, 0.8, 0.2, 1);
    backface-visibility: hidden;
}

.board{
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-gap: 20px;
}

.board-container-flipped .board {
    transform: rotateY(180deg) rotateZ(50deg);
}

.board-container-flipped .win {
    transform: rotateY(0) rotateZ(0);
}

.card {
    position: relative;
    width: 100px;
    height: 100px;
    cursor: pointer;
}

.card-front, .card-back {
    position: absolute;
    border-radius: 5px;
    width: 100%;
    height: 100%;
    background: black;
    transition: transform .6s cubic-bezier(0.4, 0.0, 0.2, 1);
    backface-visibility: hidden;
}

.card-back {
    transform: rotateY(180deg) rotateZ(50deg);
    font-size: 28pt;
    user-select: none;
    text-align: center;
    line-height: 100px;
    background: white;
}

.card-flipped .card-front {
    transform: rotateY(180deg) rotateZ(50);
}

.card-flipped .card-back {
    transform: rotateY(0) rotateZ(0);
} 

.win{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    background: white;
    transform: rotateY(180deg) rotateZ(50deg);
}

.highlight {
    color: rgb(0, 162, 255);
}